@import url('common.css');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');
/* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean,latin-ext,thai,vietnamese');
/* 나눔고딕 */
/* font-family: 'Nanum Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');
/* 포인트 영어 */
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=korean,latin-ext');

.warp{
    width: 100%;
    min-width: 1450px;
    margin: 0 auto;
    position: relative;
}

/* header */
header{
    width: 100%;
    padding: 0 75px;
    position: relative;
}
header::after{
    content: '';
    display: block;
    background: #f2f3f3;
    width: 100%; height: 195px;
    position: absolute;
    left: 0; top: 90px;
    z-index: 10;
    display: none;
    transition: 1s;
}
header:hover::after{
    display: block;
    box-shadow: 0 10px 20px rgba(38, 38, 38,.8);
}

header .header_box{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
header .header_box h1{}
header .header_box h1 a{}
header .header_box h1 a img{}

/* nav_1_depth */
.header_box .nav_1_depth{
    width: 1000px;
    min-width: 500px;
    margin: 7px;
}
.header_box .nav_1_depth ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.header_box .nav_1_depth ul li{
    width: 100%;
    padding: 34px 0;
    position: relative;
}
.header_box .nav_1_depth ul li a{
    width: 100%; 
    display: block;
    font-size: 1.125em;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    border-right: 1px solid #ccc;
}
.header_box .nav_1_depth ul li:last-child a{
    border-right: none;
}

/* nav_2_depth */
.nav_2_depth{
    width: 100%; height: 194px;
    display: none;
    position: absolute;
    left: 0; top: 84px;
    z-index: 50;
}
header:hover .nav_2_depth{
    display: block;
}
li:hover .nav_2_depth{
    background: rgba(101, 128, 182, 0.2);
}
.nav_2_depth::before{
    content: '';
    display: block;
    width: 40%; height: 5px;
    background: #6580b6;
    position: absolute;
    left: 30%; top: -4px;
    z-index: 20;
    display: none;
}
li:hover .nav_2_depth::before{
    display: block;
}
.nav_2_depth ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nav_2_depth ul li{
    padding: 0 !important;
}
.nav_2_depth ul li a{
    display: block;
    border: none !important;
    font-size: 1rem !important;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 1px;
    padding: 10px 0;
}
.nav_2_depth ul li a:hover{
    color: #6580b6;
}

/* header_icon */
.language{
    width: 7%;
    min-width: 150px;
    overflow: hidden;
}
.language p{
    width: 100%; height: 100%;
    position: relative;
    display: inline-block;
}
.language p a{
    position: absolute;
    right: 0; bottom: -14px;
    display: inline-block;
}
.language p a:first-child{
    right: 54%;
}
.language p a:last-child{
    right: 11%;
}
.language p a:hover{
    bottom: -7px;
}
.language p a img{
    width: 100%;
}

.contant{
    width: 100%;
}

/* visual */
.sub_visual_nav{
    width: 100%;
    position: relative;
}
.sub_visual_nav figure{
    position: relative;
}
.sub_visual_nav figure p{}
.sub_visual_nav figure p img{
    width: 100%;
    display: block;
}

.sub_visual_nav figure figcaption{
    width: 100%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 3.125em;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}
.sub_visual_nav figure figcaption::after{
    content: '';
    display: block;
    width: 100%; height: 2px;
    background: rgba(255, 255, 255,.3);
    position: absolute;
    left: 0%; top: 50%;
}

/* sub_nav */
.sub_visual_nav div{
    width: 100%;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    left: 0; bottom: 0;
}
.sub_visual_nav ul{
    width: 1400px; height: 65px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub_visual_nav ul li{
    width: 100%;
    text-align: center;
    border-right: 1px solid rgba(51, 99, 162, .4);
    padding: 15px;
    font-size: 1.438em;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
}
.sub_visual_nav ul li:hover{
    background: linear-gradient(360deg, rgba(26,48,76,1) 0%, rgba(34,67,110,1) 44%, rgba(51,99,162,1) 100%);
}
.sub_visual_nav ul li:first-child{
    width: 20%;
    border-left: 1px solid rgba(51, 99, 162, .4);
}
.sub_visual_nav ul li a{}
.sub_visual_nav ul li a img{
    width: 100%;
}

/* h3 */
h3{
    font-size: 2.188em;
    margin-bottom: 10px;
    text-align: center;
}

/* sub_Certification */
.sub_Certification{
    width: 100%;
    padding: 55px 0 100px;
}
.sub_Certification > p{
    margin-bottom: 60px;
    text-align: center;
}

.sub_Certification_total{
    width: 1400px;
    margin: 0 auto;
}
.sub_Certification_total div{
    display: flex;
    justify-content: center;
}
.sub_Certification_total div p{
    width: 100%;
}
.sub_Certification_total .first_menu{}
.sub_Certification_total .first_menu p:nth-of-type(1){
    background: rgba(121, 135, 149, .6);
}
.sub_Certification_total .first_menu p:nth-of-type(2){
    background: rgba(155, 199, 241, .6);
}
.sub_Certification_total .last_menu{
    text-align: right;
}
.sub_Certification_total .last_menu p:nth-of-type(1){
    display: inline-block;
    background: rgba(193, 202, 211, .6);
}
.sub_Certification_total .last_menu p:nth-of-type(2){
    display: inline-block;
    background: rgba(133, 161, 190, .8)
}
.sub_Certification_total div p img{
    display: inline-block;
    margin-bottom: -4px;
}


/* footer */
footer{
    border-top: 1px solid #ccc;
}
footer ul{
    text-align: center;
    padding: 30px 0;
}
footer ul li{
    display: inline-block;
    font-size: 0.75em;
    text-align: center;
}
footer ul li:last-child{
    display: block;
}

/* quick_meun */
.quick_meun{
    width: 120px;
    background: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    position: fixed;
    right: 1%; top: 28%;
    border-radius: 10px;
}
.quick_meun ul{
    width: 100%;
}
.quick_meun ul li{
    width: 100%;
    
}
.quick_meun ul li:hover{
    background: rgba(80, 77, 77, .5);
}
.quick_meun ul li:nth-child(1):hover{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.quick_meun ul li:nth-child(4):hover{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.quick_meun ul li:last-child{
    text-align: center;
}
.quick_meun ul li a{
    width: 100%; height: 100%;
    padding: 30px 0;
    border-bottom: 1px solid #626262;
}
.quick_meun ul li:last-child a{
    border: none;
}
.quick_meun ul li a figure{
    width: 50%;
    margin: 0 auto;
}
.quick_meun ul li:last-child a figure p img{
    width: 40%;
}
.quick_meun ul li a figure p img{
    width: 100%;
}

.quick_meun ul li a figure figcaption{
    padding-top: 5px;
    font-size: 0.938em;
    color: #fff;
}





